@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lexend+Exa:wght@100;300&display=swap');

*:focus {
  outline: none;
}

body {
  background-color: #A8D1F6;
  background-image: url(heartbg.png);
}

.container {
  display: grid;
  grid-template-columns: 1fr 0.5fr 3fr 1fr 1fr;
  grid-template-rows: 0.5fr 1fr 1fr 1fr 1fr;
  gap: 10px 10px;
  grid-auto-flow: row;
  grid-template-areas:
    "etctitle colortitle shipname aestitle wordtitle"
    "emojis color1 mainpic aespic1 word1"
    "music color2 mainpic aespic2 word2"
    "sizediff color3 mainpic aespic3 word3"
    "sizediff color4 mainpic aespic4 word4";
  padding: 40px;
  padding-bottom: 60px;
  border-radius: 10px;
}

h1, h2, h3, input, .image-placeholder, .shipname{
  font-family: 'Lexend Exa', sans-serif;
}

h1 {
  margin: 0;
  letter-spacing: 40px;
}

h1, h2, h3, .etctitle {
  text-align: center;
}

.pagetitle, .pagetitle a  {
  font-family: 'Lexend Exa', sans-serif;
  text-decoration: none;
  animation: float 2.5s ease-in-out;
}

.pagetitle a:hover {
  text-transform:uppercase;
}

.ship>div {
  position: relative;
  height: 100%;
  overflow: hidden;
  border-radius: 20px;
}

.ship>div:not(.shipname, .aestitle, .etctitle, .wordtitle, .colortitle) {
  background-image: url(heartbg.png);
}

.border-box {
  border: 3px solid #6e96b860;
}

.gradient-container {
  background: linear-gradient(to bottom right, #cee1f3, #e0dbed); 
  background-size: 100%;
}

.colored-text, .pagetitle a {
  color: #6E95B8; 
}

.ship {
  z-index: 2;
  margin-bottom: 30px;
  animation: float 1.5s ease-in-out;
  filter: drop-shadow(4px 4px 4px rgba(92, 92, 92, 0.13));
  height: 650px;
}

::placeholder {
  color: #6e96b86b;
}

.boutons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: -20px;
  animation: float 2.5s ease-in-out;
}

button {
  height: 50px;
  width: 70px;
  font-size: 14px;
  background-color: #ffffff3b;
  border-radius: 20px;
  margin: 10px;
  margin-right: 20px;
  margin-left: 20px;
  border: none;
  box-shadow: 2px 2px 2px #6e96b83d;
  border: 1px solid #6e96b83d;
  color: #6E95B8;
  font-family: 'Bebas Neue', sans-serif;
}

button:hover{
  transform: scale(1.1);
  transition: 1s;
}

.save {
  background-color: #5dffce70;
}

.reset {
  background-color: #ffa4c7b6;
}

#colorpickerr, #colorpickerr2, #colorborder, #colortext {
  background-color: #ffffff3b;
  width: 50px;
  height: 50px;
  position: relative;
  z-index: 3;
  border-radius: 20px;
  margin: 5px;
  margin-top: 10px;
  box-shadow: 2px 2px 2px #6e96b83d;
  border: 1px solid #6e96b83d;;
}

.themebg, .themeborder, .themetext {
  display: flex;
}

.shipname {
  grid-area: shipname;
  display: flex;
  justify-content: center;
  font-size: 1.5em;
}

.shipname input[type="text"] {
  background: transparent;
  width: 100%;
  text-align: center;
  letter-spacing: 10px;
}

.shipname ::placeholder {
  color: #6e96b833;
}

.file-label {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  background: rgba(255, 255, 255, 0);
}

input[type="file"] {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

.image-placeholder {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  line-height: 100px;
  font-size: auto;
  letter-spacing: 2px;
  color: #6e96b86b;
}

.uploaded-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: none;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.mainpic {
  grid-area: mainpic;
  position: relative;
  background-repeat: repeat;
  border-radius: 4%;
}

.aestitle {
  grid-area: aestitle;
}

.aespic1 {
  grid-area: aespic1;
}

.aespic2 {
  grid-area: aespic2;
}

.aespic3 {
  grid-area: aespic3;
}

.aespic4 {
  grid-area: aespic4;
}

.mainpic, .aespic1, .aespic2, .aespic3, .aespic4, .sizediff {
  background-image: none;
}

input[type="text"] {
  background: transparent;
  font-size: 1.5em;
  border: none;
  text-align: center;
} 

.wordtitle, .word1, .word2, .word3, .word4 {
  display: flex;
  justify-content: center;
}

.wordtitle {
  grid-area: wordtitle;
}

.word1 {
  grid-area: word1;
}

.word2 {
  grid-area: word2;
}

.word3 {
  grid-area: word3;
}

.word4 {
  grid-area: word4;
}

.clickable-area {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

input[type="color"] {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
  z-index: 3; 
}

.colortitle {
  grid-area: colortitle;
}

.color1 {
  grid-area: color1;
}

.color2 {
  grid-area: color2;
}

.color3 {
  grid-area: color3;
}

.color4 {
  grid-area: color4;
}

.emojititle {
  grid-area: emojititle;
}

.emojis {
  grid-area: emojis;
}

.emoji-block {
  position: relative;
  width: 50px;
  min-height: 50px; /* Set a minimum height for visual clickability */
  border: 1px solid #ddd;
  font-size: 20px;
  cursor: pointer;
  z-index: 1;
}

.emojiblock {
  display: flex;
  flex-wrap: wrap;
  height: 50%;
  justify-content: space-around;
}

.emojiblock input[type="text"] {
  background: transparent;
  width:100%;
  height: 100%;
  opacity: 100;
  cursor: pointer; 
  font-size: 200%;
  letter-spacing: 10px;
  text-align: center;
  z-index: 1;
} 

.emoji-btn {
  opacity: 0;
  height:100%;
  width: 100%;
  z-index: 6;
  position: absolute;
}

.etctitle {
  grid-area: etctitle;
}

.music {
  grid-area: music;
}

.music input[type="text"] {
  background: transparent;
  width:100%;
  height: auto;
  opacity: 100;
  cursor: pointer; 
  font-size: 100%;
  letter-spacing: 0px;
  text-align: center;
  border: 0;
  border-bottom: 1px solid #6e96b86b;
} 

.sizediff {
  grid-area: sizediff;
}

@media (max-width: 900px) {

  .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 2fr 14fr 1.5fr 4fr 1.5fr 2fr 1.5fr 2fr 4fr 3fr;
    gap: 10px 10px;
    grid-template-areas:
      "shipname shipname shipname etctitle"
      "mainpic mainpic mainpic sizediff"
      "aestitle aestitle aestitle aestitle"
      "aespic1 aespic2 aespic3 aespic4"
      "wordtitle wordtitle wordtitle wordtitle"
      "word1 word2 word3 word4"
      "colortitle colortitle colortitle colortitle"
      "color1 color2 color3 color4"
      "emojis emojis emojis emojis"
      "music music music music";
  }

  .ship, .container {
    margin: 0;
  }

  .ship {
    height: auto;
  }

  .image-placeholder {
    line-height: 50px;
    font-size: 10px;
  }

  input[type="text"], .music input[type="text"] {
    font-size: 1em;
  } 

  h2, h3 {
    font-size: 15px;
    margin: 4px;
  }

  .emojis {
    display: flex;
    justify-content: center;
    align-items: center;
      }

   .emojiblock {
    width: auto;
    height: auto;
  }
  
   .emojiblock input[type="text"] {
    height: 100%;
    font-size: 150%;
    padding: 5px;
  } 

  h1 {
    letter-spacing: 2px;
  }

  .boutons {
    display: flex;
    flex-wrap: wrap;
    margin-top: 5px;
  }

  .boutons button {
    width: 50px;
    margin: 0px;
    font-size: 10px;
  }
  #colorpickerr, #colorpickerr2, #colorborder, #colortext  {
    width: 20px;
    margin: 0;
  }

  .themebg, .themeborder, .themetext, .sauvegarde {
    display: flex;
    margin: 5px;
    margin-left: 5px;
    margin-right: 5px;
  }

}

@media (max-width: 500px) {

  .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 6fr 1fr 3fr 1fr 2fr 1fr 2fr 2fr 4fr;
    gap: 10px 10px;
    grid-template-areas:
      "shipname shipname shipname shipname"
      "mainpic mainpic mainpic mainpic"
      "aestitle aestitle aestitle aestitle"
      "aespic1 aespic2 aespic3 aespic4"
      "wordtitle wordtitle wordtitle wordtitle"
      "word1 word2 word3 word4"
      "colortitle colortitle colortitle colortitle"
      "color1 color2 color3 color4"
      "music music music music"
      "emojis emojis sizediff sizediff"
      "etctitle etctitle sizediff sizediff";
  }

  input[type="text"], .music input[type="text"] {
    font-size: 0.7em;
  } 
  .emojis {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
      }

   .emojiblock input[type="text"] {
    font-size: 100%;
  } 
}

@keyframes float {
  0% {
    transform: translatey(-30px);
  }

  100% {
    transform: translatey(0px);
  }
}